body{
     background-image:url(https://demo.tagdiv.com/newspaper_recipes/wp-content/uploads/2016/03/bg.jpg);
     background-repeat:no-repeat;
    background-position:center top;
    background-attachment:fixed
}
button {
    background: #000;
    border: transparent;
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: .8em 1em;
    position: relative;
    font-size: .929em;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    font-family: inherit;
    -webkit-transition: all .15s;
    transition: all .15s;
}

#ggdrive-vid-link{
    background: #30ff97 ;
}

#dailymotion-vid-link{
    background: #30fbff ;
}

#4file-vid-link{
    background: #1a1e1e ;
}

.banner-slider {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#featured {
    margin-top : 0px;
    margin-bottom : 0px;
}

#featured .slider-bg {
    background: #000;
    top: 300px;
    height: 102px;
    width: 700px;
    left: 0;
    position: absolute;
    z-index: 10;
    opacity: .5;
}

.current-item {
    font-weight: bold; 
}

.vid-link:hover {
    opacity: 0.6;
}
.td-view-vid-in {
    margin-top: 10px;
}

.td-view-vid-btn {
    margin-top: 15px;
}
#featured div.slider-info {
    top: 300px;
    height: 72px;
    left: 0;
    position: absolute;
    width: 65px;
    z-index: 15;
    padding: 15px;
}

#featured li.slider-open div.slider-info strong {
    color: #fff;
    font-size: 22px;
}

.banner-slider img {
    max-width: none;
}

.banner-slider {
    margin : auto;
}

#featured li.slider div.slider-info strong {
    color: #fff;
    font-size: 22px;
}
#featured li.slider-open div.slider-info p {
    display: block;
}

#featured  li.slider-open div.slider-info {
    width: 570px;
}
#featured  li.slider div.slider-info {
    width: 570px;
}

#featured div.slider-info p {
    display: none;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin: 0 !important;
}

/* .slider img {
    height : 400px;
    width: 600px;
}  */


.td-header-wrap .black-menu .sf-menu>.current-menu-item>a,.td-header-wrap .black-menu .sf-menu>.current-menu-ancestor>a,.td-header-wrap .black-menu .sf-menu>.current-category-ancestor>a,.td-header-wrap .black-menu .sf-menu>li>a:hover,.td-header-wrap .black-menu .sf-menu>.sfHover>a,.td-header-style-12 .td-header-menu-wrap-full,.sf-menu>.current-menu-item>a:after,.sf-menu>.current-menu-ancestor>a:after,.sf-menu>.current-category-ancestor>a:after,.sf-menu>li:hover>a:after,.sf-menu>.sfHover>a:after,.td-header-style-12 .td-affix,.header-search-wrap .td-drop-down-search:after,.header-search-wrap .td-drop-down-search .btn:hover,input[type="submit"]:hover,.td-read-more a,.td-post-category:hover,.td-grid-style-1.td-hover-1 .td-big-grid-post:hover .td-post-category,.td-grid-style-5.td-hover-1 .td-big-grid-post:hover .td-post-category,.td_top_authors .td-active .td-author-post-count,.td_top_authors .td-active .td-author-comments-count,.td_top_authors .td_mod_wrap:hover .td-author-post-count,.td_top_authors .td_mod_wrap:hover .td-author-comments-count,.td-404-sub-sub-title a:hover,.td-search-form-widget .wpb_button:hover,.td-rating-bar-wrap div,.td_category_template_3 .td-current-sub-category,.dropcap,.td_wrapper_video_playlist .td_video_controls_playlist_wrapper,.wpb_default,.wpb_default:hover,.td-left-smart-list:hover,.td-right-smart-list:hover,.woocommerce-checkout .woocommerce input.button:hover,.woocommerce-page .woocommerce a.button:hover,.woocommerce-account div.woocommerce .button:hover,#bbpress-forums button:hover,.bbp_widget_login .button:hover,.td-footer-wrapper .td-post-category,.td-footer-wrapper .widget_product_search input[type="submit"]:hover,.woocommerce .product a.button:hover,.woocommerce .product #respond input#submit:hover,.woocommerce .checkout input#place_order:hover,.woocommerce .woocommerce.widget .button:hover,.single-product .product .summary .cart .button:hover,.woocommerce-cart .woocommerce table.cart .button:hover,.woocommerce-cart .woocommerce .shipping-calculator-form .button:hover,.td-next-prev-wrap a:hover,.td-load-more-wrap a:hover,.td-post-small-box a:hover,.page-nav .current,.page-nav:first-child>div,.td_category_template_8 .td-category-header .td-category a.td-current-sub-category,.td_category_template_4 .td-category-siblings .td-category a:hover,#bbpress-forums .bbp-pagination .current,#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a,.td-theme-slider:hover .slide-meta-cat a,a.vc_btn-black:hover,.td-trending-now-wrapper:hover .td-trending-now-title,.td-scroll-up,.td-smart-list-button:hover,.td-weather-information:before,.td-weather-week:before,.td_block_exchange .td-exchange-header:before,.td_block_big_grid_9.td-grid-style-1 .td-post-category,.td_block_big_grid_9.td-grid-style-5 .td-post-category,.td-grid-style-6.td-hover-1 .td-module-thumb:after,.td-pulldown-syle-2 .td-subcat-dropdown ul:after,.td_block_template_9 .td-block-title:after,.td_block_template_15 .td-block-title:before,div.wpforms-container .wpforms-form div.wpforms-submit-container button[type="submit"]{
    background-color:#35a533
}
.global-block-template-4 .td-related-title .td-cur-simple-item:before{
    border-color:#35a533 transparent transparent transparent!important
}
.woocommerce .woocommerce-message .button:hover,.woocommerce .woocommerce-error .button:hover,.woocommerce .woocommerce-info .button:hover,.global-block-template-4 .td-related-title .td-cur-simple-item,.global-block-template-3 .td-related-title .td-cur-simple-item,.global-block-template-9 .td-related-title:after{
    background-color:#35a533!important
}
.woocommerce .product .onsale,.woocommerce.widget .ui-slider .ui-slider-handle{
    background:none #35a533
}
.woocommerce.widget.widget_layered_nav_filters ul li a{
    background:none repeat scroll 0 0 #35a533!important
}
a,cite a:hover,.td_mega_menu_sub_cats .cur-sub-cat,.td-mega-span h3 a:hover,.td_mod_mega_menu:hover .entry-title a,.header-search-wrap .result-msg a:hover,.td-header-top-menu .td-drop-down-search .td_module_wrap:hover .entry-title a,.td-header-top-menu .td-icon-search:hover,.td-header-wrap .result-msg a:hover,.top-header-menu li a:hover,.top-header-menu .current-menu-item>a,.top-header-menu .current-menu-ancestor>a,.top-header-menu .current-category-ancestor>a,.td-social-icon-wrap>a:hover,.td-header-sp-top-widget .td-social-icon-wrap a:hover,.td-page-content blockquote p,.td-post-content blockquote p,.mce-content-body blockquote p,.comment-content blockquote p,.wpb_text_column blockquote p,.td_block_text_with_title blockquote p,.td_module_wrap:hover .entry-title a,.td-subcat-filter .td-subcat-list a:hover,.td-subcat-filter .td-subcat-dropdown a:hover,.td_quote_on_blocks,.dropcap2,.dropcap3,.td_top_authors .td-active .td-authors-name a,.td_top_authors .td_mod_wrap:hover .td-authors-name a,.td-post-next-prev-content a:hover,.author-box-wrap .td-author-social a:hover,.td-author-name a:hover,.td-author-url a:hover,.td_mod_related_posts:hover h3>a,.td-post-template-11 .td-related-title .td-related-left:hover,.td-post-template-11 .td-related-title .td-related-right:hover,.td-post-template-11 .td-related-title .td-cur-simple-item,.td-post-template-11 .td_block_related_posts .td-next-prev-wrap a:hover,.comment-reply-link:hover,.logged-in-as a:hover,#cancel-comment-reply-link:hover,.td-search-query,.td-category-header .td-pulldown-category-filter-link:hover,.td-category-siblings .td-subcat-dropdown a:hover,.td-category-siblings .td-subcat-dropdown a.td-current-sub-category,.widget a:hover,.td_wp_recentcomments a:hover,.archive .widget_archive .current,.archive .widget_archive .current a,.widget_calendar tfoot a:hover,.woocommerce a.added_to_cart:hover,.woocommerce-account .woocommerce-MyAccount-navigation a:hover,#bbpress-forums li.bbp-header .bbp-reply-content span a:hover,#bbpress-forums .bbp-forum-freshness a:hover,#bbpress-forums .bbp-topic-freshness a:hover,#bbpress-forums .bbp-forums-list li a:hover,#bbpress-forums .bbp-forum-title:hover,#bbpress-forums .bbp-topic-permalink:hover,#bbpress-forums .bbp-topic-started-by a:hover,#bbpress-forums .bbp-topic-started-in a:hover,#bbpress-forums .bbp-body .super-sticky li.bbp-topic-title .bbp-topic-permalink,#bbpress-forums .bbp-body .sticky li.bbp-topic-title .bbp-topic-permalink,.widget_display_replies .bbp-author-name,.widget_display_topics .bbp-author-name,.footer-text-wrap .footer-email-wrap a,.td-subfooter-menu li a:hover,.footer-social-wrap a:hover,a.vc_btn-black:hover,.td-smart-list-dropdown-wrap .td-smart-list-button:hover,.td_module_17 .td-read-more a:hover,.td_module_18 .td-read-more a:hover,.td_module_19 .td-post-author-name a:hover,.td-instagram-user a,.td-pulldown-syle-2 .td-subcat-dropdown:hover .td-subcat-more span,.td-pulldown-syle-2 .td-subcat-dropdown:hover .td-subcat-more i,.td-pulldown-syle-3 .td-subcat-dropdown:hover .td-subcat-more span,.td-pulldown-syle-3 .td-subcat-dropdown:hover .td-subcat-more i,.td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-display-option:hover,.td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-display-option:hover i,.td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-link:hover,.td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-item .td-cur-simple-item,.global-block-template-2 .td-related-title .td-cur-simple-item,.global-block-template-5 .td-related-title .td-cur-simple-item,.global-block-template-6 .td-related-title .td-cur-simple-item,.global-block-template-7 .td-related-title .td-cur-simple-item,.global-block-template-8 .td-related-title .td-cur-simple-item,.global-block-template-9 .td-related-title .td-cur-simple-item,.global-block-template-10 .td-related-title .td-cur-simple-item,.global-block-template-11 .td-related-title .td-cur-simple-item,.global-block-template-12 .td-related-title .td-cur-simple-item,.global-block-template-13 .td-related-title .td-cur-simple-item,.global-block-template-14 .td-related-title .td-cur-simple-item,.global-block-template-15 .td-related-title .td-cur-simple-item,.global-block-template-16 .td-related-title .td-cur-simple-item,.global-block-template-17 .td-related-title .td-cur-simple-item,.td-theme-wrap .sf-menu ul .td-menu-item>a:hover,.td-theme-wrap .sf-menu ul .sfHover>a,.td-theme-wrap .sf-menu ul .current-menu-ancestor>a,.td-theme-wrap .sf-menu ul .current-category-ancestor>a,.td-theme-wrap .sf-menu ul .current-menu-item>a,.td_outlined_btn{
    color:#35a533
}
a.vc_btn-black.vc_btn_square_outlined:hover,a.vc_btn-black.vc_btn_outlined:hover,.td-mega-menu-page .wpb_content_element ul li a:hover,.td-theme-wrap .td-aj-search-results .td_module_wrap:hover .entry-title a,.td-theme-wrap .header-search-wrap .result-msg a:hover{
    color:#35a533!important
}
.td-next-prev-wrap a:hover,.td-load-more-wrap a:hover,.td-post-small-box a:hover,.page-nav .current,.page-nav:first-child>div,.td_category_template_8 .td-category-header .td-category a.td-current-sub-category,.td_category_template_4 .td-category-siblings .td-category a:hover,#bbpress-forums .bbp-pagination .current,.post .td_quote_box,.page .td_quote_box,a.vc_btn-black:hover,.td_block_template_5 .td-block-title>*,.td_outlined_btn{
    border-color:#35a533
}
.td_wrapper_video_playlist .td_video_currently_playing:after{
    border-color:#35a533!important
}
.header-search-wrap .td-drop-down-search:before{
    border-color:transparent transparent #35a533 transparent
}
.block-title > span, .block-title > a, .block-title > label, .widgettitle, .widgettitle:after, .td-trending-now-title, .td-trending-now-wrapper:hover .td-trending-now-title, .wpb_tabs li.ui-tabs-active a, .wpb_tabs li:hover a, .vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab.vc_active > a, .vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab:hover > a, .td_block_template_1 .td-related-title .td-cur-simple-item, .woocommerce .product .products h2:not(.woocommerce-loop-product__title), .td-subcat-filter .td-subcat-dropdown:hover .td-subcat-more, .td_3D_btn, .td_shadow_btn, .td_default_btn, .td_round_btn, .td_outlined_btn:hover {
    background-color:#35a533
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    background-color:#35a533!important
}
.block-title,.td_block_template_1 .td-related-title,.wpb_tabs .wpb_tabs_nav,.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container,.woocommerce div.product .woocommerce-tabs ul.tabs:before{
    border-color:#35a533
}
.td_block_wrap .td-subcat-item a.td-cur-simple-item{
    color:#35a533
}
.td-grid-style-4 .entry-title{
    background-color:rgba(53,165,51,.7)
}
@media (max-width:767px){
    body .td-header-wrap .td-header-main-menu{
        background-color:#fff!important
    }
    body #td-top-mobile-toggle i,.td-header-wrap .header-search-wrap .td-icon-search{
        color:#000!important
    }
}
.td-menu-background:before,.td-search-background:before{
    background:rgba(0,0,0,.5);
    background:-moz-linear-gradient(top,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,0,0,.5)),color-stop(100%,rgba(0,0,0,.7)));
    background:-webkit-linear-gradient(top,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, @mobileu_gradient_two_mob 100%);
    background:-ms-linear-gradient(top,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.5)', endColorstr='rgba(0,0,0,0.7)', GradientType=0 )
}
.td-mobile-content .current-menu-item>a,.td-mobile-content .current-menu-ancestor>a,.td-mobile-content .current-category-ancestor>a,#td-mobile-nav .td-menu-login-section a:hover,#td-mobile-nav .td-register-section a:hover,#td-mobile-nav .td-menu-socials-wrap a:hover i,.td-search-close a:hover i{
    color:#0c1
}
.white-popup-block:after{
    background:rgba(0,0,0,.5);
    background:-moz-linear-gradient(45deg,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    background:-webkit-gradient(left bottom,right top,color-stop(0%,rgba(0,0,0,.5)),color-stop(100%,rgba(0,0,0,.7)));
    background:-webkit-linear-gradient(45deg,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    background:-o-linear-gradient(45deg,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    background:-ms-linear-gradient(45deg,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    background:linear-gradient(45deg,rgba(0,0,0,.5) 0%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.5)', endColorstr='rgba(0,0,0,0.7)', GradientType=0 )
}
.td-banner-wrap-full,.td-header-style-11 .td-logo-wrap-full{
    background-color:#fcfcfc;
    display: none;
}
@media (min-width:768px){
    .td-banner-wrap-full,.td-header-style-11 .td-logo-wrap-full{
        display: block;
    }
}


#thumbs {
    width: 100%;
    margin: auto;
    list-style: None;
    display: inline;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 45%;
    z-index: 999
}
#thumbs li {
    width: 10%;
    display: inline;
}
#thumbs li a {
    display:inline-block;
    padding-right : 5px;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #636363;
    border-radius: 50%;
    display: inline-block;
  }

  .active-dot {
    background-color: #fff;
  }


.movie-content {
    padding-top : 15px;
    padding-bottom: 40px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (max-width:768px) {
.td_block_15 .td-column-3 .td-block-row .td-block-span4 {
width: 100%;
}
.td-column-3 .td_module_mx4 .entry-title {
    font-size : 21px;
}
}

@media (max-width:500px) {
    .td-column-3 .td_module_mx4 .entry-title {
        font-size : 15px;
    }
 }


.td-header-style-11 .td-logo-wrap-full{
    border-bottom:0
}
@media (min-width:1019px){
    .td-header-style-2 .td-header-sp-recs,.td-header-style-5 .td-a-rec-id-header>div,.td-header-style-5 .td-g-rec-id-header>.adsbygoogle,.td-header-style-6 .td-a-rec-id-header>div,.td-header-style-6 .td-g-rec-id-header>.adsbygoogle,.td-header-style-7 .td-a-rec-id-header>div,.td-header-style-7 .td-g-rec-id-header>.adsbygoogle,.td-header-style-8 .td-a-rec-id-header>div,.td-header-style-8 .td-g-rec-id-header>.adsbygoogle,.td-header-style-12 .td-a-rec-id-header>div,.td-header-style-12 .td-g-rec-id-header>.adsbygoogle{
        margin-bottom:24px!important
    }
}
@media (min-width:768px) and (max-width:1018px){
    .td-header-style-2 .td-header-sp-recs,.td-header-style-5 .td-a-rec-id-header>div,.td-header-style-5 .td-g-rec-id-header>.adsbygoogle,.td-header-style-6 .td-a-rec-id-header>div,.td-header-style-6 .td-g-rec-id-header>.adsbygoogle,.td-header-style-7 .td-a-rec-id-header>div,.td-header-style-7 .td-g-rec-id-header>.adsbygoogle,.td-header-style-8 .td-a-rec-id-header>div,.td-header-style-8 .td-g-rec-id-header>.adsbygoogle,.td-header-style-12 .td-a-rec-id-header>div,.td-header-style-12 .td-g-rec-id-header>.adsbygoogle{
        margin-bottom:14px!important
    }
}

.td-footer-wrapper .widget_calendar th,.td-footer-wrapper .widget_calendar td,.td-footer-wrapper .td-social-style2 .td_social_type .td-social-box,.td-footer-wrapper .td-social-style8 .td_social_type .td-social-box,.td-social-style-2 .td-icon-font:after{
    border-color:#222
}
.td-footer-wrapper .td-module-comments a,.td-footer-wrapper .td-post-category,.td-footer-wrapper .td-slide-meta .td-post-author-name span,.td-footer-wrapper .td-slide-meta .td-post-date{
    color:#fff
}
.td-footer-bottom-full .td-container::before{
    background-color:rgba(34,34,34,.1)
}
.td-sub-footer-container,.td-subfooter-menu li a{
    color:#ededed
}
.td-menu-background,.td-search-background{
    background-image:url(https://demo.tagdiv.com/newspaper_recipes/wp-content/uploads/2016/03/food.jpg)
}
.white-popup-block:before{
    background-image:url(https://demo.tagdiv.com/newspaper_recipes/wp-content/uploads/2016/03/food.jpg)
}
.top-header-menu>li>a,.td-weather-top-widget .td-weather-now .td-big-degrees,.td-weather-top-widget .td-weather-header .td-weather-city,.td-header-sp-top-menu .td_data_time{
    line-height:26px;
    font-weight:normal
}
.block-title > span, .block-title > a, .widgettitle, .td-trending-now-title, .wpb_tabs li a, .vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab > a, .td-theme-wrap .td-related-title a, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce .product .products h2:not(.woocommerce-loop-product__title), .td-theme-wrap .td-block-title {
    line-height:18px;
    text-transform:uppercase
}
.td-theme-wrap .td-subcat-filter,.td-theme-wrap .td-subcat-filter .td-subcat-dropdown,.td-theme-wrap .td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-display-option,.td-theme-wrap .td-pulldown-category{
    line-height:18px
}
.td_block_template_1 .block-title>*{
    padding-bottom:0;
    padding-top:0
}
.td-header-style-11 .td-header-sp-logo .show-cover {
    width: 100%;
}

.top-header-menu>li,.td-header-sp-top-menu,#td-outer-wrap .td-header-sp-top-widget{
    line-height:26px
}
@media (min-width:768px){
    .td-recipes .td_module_wrap .td-post-category{
        color:#35a533
    }
}
.td-recipes .td_module_mega_menu .td-post-category,.td-recipes .footer-email-wrap a,.td-recipes .td-post-template-13 header .td-post-author-name a{
    color:#35a533
}
.td-recipes.td_category_template_4 .td-category .td-current-sub-category{
    background-color:#35a533;
    border-color:#35a533
}

